@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    
    font-family: 'Lobster', cursive;
   background-color: rgb(192 192 192);
    margin: 0;
    padding: 0;
    width: 100%;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 10px;
    background-color: #02003d;
    color: palegoldenrod;
}

.navbar-image {
    width: 6rem;
}

#btn-translate{
    background-color: darkblue;
    color: antiquewhite;
    font-family: 'Lobster', cursive;
    font-size: 1rem;
    padding: 0.3rem 1.3rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    
  }

#btn-translate:hover {
    cursor: pointer;
    background-color: antiquewhite;
    color: darkblue;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-input, #output-area{
    width: 35%;
    height: 20vh;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin:1rem 0rem ;
    background-color:rgb(243, 240, 240);
  }

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #02003d;
    color: palegoldenrod;
    margin-top: 2%;
    padding: 2% 25% 2% 25%;
}

